<div class="modal-header">
  <h4>Add User</h4>
</div>
<div class="modal-body">
  <!-- adding User details -->
  <form [formGroup]="userForm" (ngSubmit)="submitForm()">
    <div class="form-group">
      <label for="firstName">First Name:</label>
      <input
        type="text"
        id="firstName"
        class="form-control"
        formControlName="firstName"
      />
      <div
        *ngIf="
          userForm.get('firstName')?.invalid && userForm.get('firstName')?.touched
        "
      >
        <div class="text-danger">Name is required.</div>
      </div>
    </div>
    <!-- User LastName -->
    <div class="form-group">
      <label for="lastName">LastName:</label>
      <input
        type="text"
        id="lastName"
        class="form-control"
        formControlName="lastName"
      />
      <div
        *ngIf="
          userForm.get('lastName')?.invalid && userForm.get('lastName')?.touched
        "
      >
        <div class="text-danger">LastName is required.</div>
      </div>
    </div>
    <!-- UserName -->
    <div class="form-group">
      <label for="userName">UserName:</label>
      <input
        type="text"
        id="userName"
        class="form-control"
        formControlName="userName"
      />
      <div
        *ngIf="
          userForm.get('userName')?.invalid && userForm.get('userName')?.touched
        "
      >
        <div class="text-danger">UserName is required.</div>
      </div>
    </div>
    <!-- Password -->
    <div class="form-group">
      <label for="password">Password:</label>
      <input
        type="text"
        id="password"
        class="form-control"
        formControlName="password"
      />
      <div
        *ngIf="
          userForm.get('password')?.invalid && userForm.get('password')?.touched
        "
      >
        <div class="text-danger">Password is required.</div>
      </div>
    </div>

    <!-- Confirm Password -->
    <div class="form-group">
      <label for="confirmPassword">Confirm Password:</label>
      <input
        type="text"
        id="confirmPassword"
        class="form-control"
        formControlName="confirmPassword"
      />
      <div
        *ngIf="
          userForm.get('confirmPassword')?.invalid &&
          userForm.get('confirmPassword')?.touched
        "
      >
        <div class="text-danger">Confirm Password is required.</div>
      </div>
    </div>

    <div class="d-flex justify-content-end mt-3 custom-margin">
      <button type="button" class="btn btn-primary" (click)="submitForm()">
        ADD
      </button>
      <button type="button" class="btn btn-secondary ms-1" (click)="cancel()">
        Cancel
      </button>
    </div>
  </form>
</div>
